/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcB;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --hover-accent-color: rgba(50, 49, 45, 0.40);
  --title-text-color: #ffc2e6;
  --title-text-shadow: 4px 4px 0px #ff0070;
  --footer-title-text-shadow: 2px 2px 0 var(--accent-color);
}

.theme_light .header__decorated-element {
  display: none;
}

.theme_light .content__title {
  color: var(--main-text-color);
}


@media (prefers-color-scheme: light) {
  :root {
      --bg-color: #fff1f7;
      --accent-color: #ff8dcB;
      --main-text-color: #353430;
      --accent-text-color: #353430;
      --bg-image: url(../images/cover-image-light.png);
      --hover-accent-color: rgba(50, 49, 45, 0.40);
      --title-text-color: #ffc2e6;
      --title-text-shadow: 4px 4px 0px #ff0070;
    }
  .content__title {
      color: var(--main-text-color);
    }
  .header__decorated-element {
    display: none;
    }
}