:root {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --main-font: IBM Plex Mono, Monospace;
  --font-size: 18px;
  --line-h: 23.4px;
  --main-text-color: #f1b2ce;
  --accent-text-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --hover-accent-color: rgba(255, 0, 112, 0.40);
  --title-text-color: #db00ff;
  --title-text-shadow: 4px 4px 0 var(--accent-color);
  --footer-title-text-shadow: 2px 2px 0 var(--accent-color);
}
